# IMPORTING LIBRARY AND DATSETS:

In [208]:
import pandas as pd

In [209]:
consumers = pd.read_csv("consumers.csv")
consumers

,Consumer_ID,City,State,Country,Latitude,Longitude,Smoker,Drink_Level,Transportation_Method,Marital_Status,Children,Age,Occupation,Budget
0,U1001,San Luis Potosi,San Luis Potosi,Mexico,22.139997,-100.978803,No,Abstemious,On Foot,Single,Independent,23,Student,Medium
1,U1002,San Luis Potosi,San Luis Potosi,Mexico,22.150087,-100.983325,No,Abstemious,Public,Single,Independent,22,Student,Low
2,U1003,San Luis Potosi,San Luis Potosi,Mexico,22.119847,-100.946527,No,Social Drinker,Public,Single,Independent,23,Student,Low
3,U1004,Cuernavaca,Morelos,Mexico,18.867000,-99.183000,No,Abstemious,Public,Single,Independent,72,Employed,Medium
4,U1005,San Luis Potosi,San Luis Potosi,Mexico,22.183477,-100.959891,No,Abstemious,Public,Single,Independent,20,Student,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,U1134,San Luis Potosi,San Luis Potosi,Mexico,22.149654,-100.998610,No,Casual Drinker,Public,Single,Independent,21,Student,Medium
134,U1135,San Luis Potosi,San Luis Potosi,Mexico,22.170396,-100.949936,No,Casual Drinker,On Foot,Single,Kids,24,Student,Low
135,U1136,San Luis Potosi,San Luis Potosi,Mexico,22.149607,-100.997235,Yes,Social Drinker,Car,Single,Independent,22,Student,Low
136,U1137,San Luis Potosi,San Luis Potosi,Mexico,22.144803,-100.944623,No,Social Drinker,Public,Single,Independent,23,Student,Low
137,U1138,San Luis Potosi,San Luis Potosi,Mexico,22.152884,-100.939663,No,Social Drinker,Public,Single,Independent,21,Student,Medium

In [210]:
consumer_preferences = pd.read_csv("consumer_preferences.csv")
consumer_preferences

    Consumer_ID Preferred_Cuisine
0         U1001          American
1         U1002           Mexican
2         U1003           Mexican
3         U1004            Bakery
4         U1004         Breakfast
..          ...               ...
325       U1135          Southern
326       U1135         Ice Cream
327       U1136           Mexican
328       U1137           Mexican
329       U1138          Pizzeria

[330 rows x 2 columns]

In [211]:
ratings =pd.read_csv("ratings.csv")
ratings

     Consumer_ID  Restaurant_ID  Overall_Rating  Food_Rating  Service_Rating
0          U1077         135085               2            2               2
1          U1077         135038               2            2               1
2          U1077         132825               2            2               2
3          U1077         135060               1            2               2
4          U1068         135104               1            1               2
...          ...            ...             ...          ...             ...
1156       U1043         132630               1            1               1
1157       U1011         132715               1            1               0
1158       U1068         132733               1            1               0
1159       U1068         132594               1            1               1
1160       U1068         132660               0            0               0

[1161 rows x 5 columns]

In [212]:
restaurant_cusines = pd.read_csv("restaurant_cuisines.csv")
restaurant_cusines

     Restaurant_ID    Cuisine
0           132560   Regional
1           132572  Cafeteria
2           132583   American
3           132584    Mexican
4           132594    Mexican
..             ...        ...
107         135086  Fast Food
108         135088  Cafeteria
109         135104    Mexican
110         135106    Mexican
111         135109    Italian

[112 rows x 2 columns]

In [264]:
restaurants = pd.read_csv("restaurants.csv")
restaurants

,Restaurant_ID,Name,City,State,Country,Zip_Code,Latitude,Longitude,Alcohol_Service,Smoking_Allowed,Price,Franchise,Area,Parking
0,132560,Puesto de Gorditas,Ciudad Victoria,Tamaulipas,Mexico,NaN,23.752304,-99.166913,NaN,Yes,Low,No,Open,Public
1,132561,Cafe Ambar,Ciudad Victoria,Tamaulipas,Mexico,NaN,23.726819,-99.126506,NaN,No,Low,No,Closed,NaN
2,132564,Church's,Ciudad Victoria,Tamaulipas,Mexico,NaN,23.730925,-99.145185,NaN,No,Low,No,Closed,NaN
3,132572,Cafe Chaires,San Luis Potosi,San Luis Potosi,Mexico,NaN,22.141647,-100.992712,NaN,No,Low,No,Closed,Yes
4,132583,McDonalds Centro,Cuernavaca,Morelos,Mexico,62000.0,18.922290,-99.234332,NaN,No,Low,Yes,Closed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,135088,Cafeteria Cenidet,Cuernavaca,Morelos,Mexico,NaN,18.876011,-99.219890,NaN,No,Low,No,Closed,Public
126,135104,Vips,Ciudad Victoria,Tamaulipas,Mexico,NaN,23.752982,-99.168434,Full Bar,No,Medium,Yes,Closed,Yes
127,135106,El RincÃ³n De San Francisco,San Luis Potosi,San Luis Potosi,Mexico,78000.0,22.149709,-100.976093,Wine & Beer,Bar Only,Medium,No,Open,NaN
128,135108,Potzocalli,San Luis Potosi,San Luis Potosi,Mexico,NaN,22.136253,-100.933585,NaN,No,Low,No,Closed,NaN
129,135109,Paniroles,Cuernavaca,Morelos,Mexico,NaN,18.921785,-99.235350,Wine & Beer,No,Medium,No,Closed,NaN

Data cleaning :

In [214]:
consumers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Consumer_ID            138 non-null    object
 1   City                   138 non-null    object
 2   State                  138 non-null    object
 3   Country                138 non-null    object
 4   Latitude               138 non-null    float64
 5   Longitude              138 non-null    float64
 6   Smoker                 135 non-null    object
 7   Drink_Level            138 non-null    object
 8   Transportation_Method  131 non-null    object
 9   Marital_Status         134 non-null    object
 10  Children               127 non-null    object
 11  Age                    138 non-null    int64
 12  Occupation             131 non-null    object
 13  Budget                 131 non-null    object
dtypes: float64(2), int64(1), object(11)
memory usage: 15.2+ KB

In [215]:
consumer_preferences.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Consumer_ID        330 non-null    object
 1   Preferred_Cuisine  330 non-null    object
dtypes: object(2)
memory usage: 5.3+ KB

In [95]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161 entries, 0 to 1160
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Consumer_ID     1161 non-null   object
 1   Restaurant_ID   1161 non-null   int64
 2   Overall_Rating  1161 non-null   int64
 3   Food_Rating     1161 non-null   int64
 4   Service_Rating  1161 non-null   int64
dtypes: int64(4), object(1)
memory usage: 45.5+ KB

In [216]:
restaurant_cusines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Restaurant_ID  112 non-null    int64
 1   Cuisine        112 non-null    object
dtypes: int64(1), object(1)
memory usage: 1.9+ KB

In [217]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Restaurant_ID    130 non-null    int64
 1   Name             130 non-null    object
 2   City             130 non-null    object
 3   State            130 non-null    object
 4   Country          130 non-null    object
 5   Zip_Code         56 non-null     float64
 6   Latitude         130 non-null    float64
 7   Longitude        130 non-null    float64
 8   Alcohol_Service  43 non-null     object
 9   Smoking_Allowed  130 non-null    object
 10  Price            130 non-null    object
 11  Franchise        130 non-null    object
 12  Area             130 non-null    object
 13  Parking          65 non-null     object
dtypes: float64(3), int64(1), object(10)
memory usage: 14.3+ KB

* Removing Duplicates

In [218]:
df_dup = restaurants[restaurants.duplicated(keep ="first")]
df_dup

Empty DataFrame
Columns: [Restaurant_ID, Name, City, State, Country, Zip_Code, Latitude, Longitude, Alcohol_Service, Smoking_Allowed, Price, Franchise, Area, Parking]
Index: []

In [219]:
consumer_preferences.drop_duplicates(inplace = True)

In [220]:
consumer_preferences

    Consumer_ID Preferred_Cuisine
0         U1001          American
1         U1002           Mexican
2         U1003           Mexican
3         U1004            Bakery
4         U1004         Breakfast
..          ...               ...
325       U1135          Southern
326       U1135         Ice Cream
327       U1136           Mexican
328       U1137           Mexican
329       U1138          Pizzeria

[328 rows x 2 columns]

* Handling Nan from consumers table

In [265]:
consumers["Children"].unique()

array(['Independent', 'Kids', 'Dependent'], dtype=object)

In [222]:
consumers["Transportation_Method"].value_counts()

Transportation_Method
Public     82
Car        35
On Foot    14
Name: count, dtype: int64

In [266]:
consumers.isnull().sum()

Consumer_ID              0
City                     0
State                    0
Country                  0
Latitude                 0
Longitude                0
Smoker                   0
Drink_Level              0
Transportation_Method    0
Marital_Status           0
Children                 0
Age                      0
Occupation               0
Budget                   0
dtype: int64

* CHECKING NULL VALUES AND HANDLING THEM :

In [267]:
rows_with_nan = consumers[consumers.isnull().any(axis=1)]
rows_with_nan

Empty DataFrame
Columns: [Consumer_ID, City, State, Country, Latitude, Longitude, Smoker, Drink_Level, Transportation_Method, Marital_Status, Children, Age, Occupation, Budget]
Index: []

In [268]:
consumers['Smoker']= consumers['Smoker'].fillna('No')

In [269]:
consumers["Transportation_Method"] = consumers["Transportation_Method"].fillna('Public')

In [270]:
consumers['Marital_Status'] = consumers['Marital_Status'].fillna('Single')

In [271]:
consumers['Children']=consumers['Children'].fillna('Independent')

In [272]:
consumers['Occupation'] = consumers.apply(
    lambda row: 'Student' if pd.isna(row['Occupation']) and row['Age'] <= 23 else row['Occupation'],
    axis=1
)

In [273]:
consumers['Occupation'] = consumers.apply(
    lambda row: 'Employed' if pd.isna(row['Occupation']) and row['Age'] >= 23 else row['Occupation'],
    axis=1
)

In [274]:
consumers['Budget'] = consumers['Budget'].fillna('Medium')

* Handling Nan from consumer_preferences table :

In [275]:
consumer_preferences

    Consumer_ID Preferred_Cuisine
0         U1001          American
1         U1002           Mexican
2         U1003           Mexican
3         U1004            Bakery
4         U1004         Breakfast
..          ...               ...
325       U1135          Southern
326       U1135         Ice Cream
327       U1136           Mexican
328       U1137           Mexican
329       U1138          Pizzeria

[328 rows x 2 columns]

In [276]:
consumer_preferences['Preferred_Cuisine'].unique()

array(['American', 'Mexican', 'Bakery', 'Breakfast', 'Japanese',
       'Contemporary', 'Bagels', 'Coffee Shop', 'Continental',
       'Cafeteria', 'Family', 'Juice', 'Hawaiian', 'Hot Dogs',
       'Latin American', 'Korean', 'Italian', 'Diner', 'Fast Food',
       'Deli', 'Regional', 'Fusion', 'Portuguese', 'Indian',
       'Eastern European', 'Lebanese', 'Moroccan', 'Barbecue',
       'Polynesian', 'Polish', 'Chinese', 'Pizzeria', 'Burgers', 'Afghan',
       'Middle Eastern', 'Mongolian', 'Bar', 'Cuban', 'Tex Mex',
       'Spanish', 'Soup', 'Sushi', 'Game', 'Doughnuts', 'Australian',
       'Asian', 'Ice Cream', 'Seafood', 'Turkish', 'Organic', 'Steaks',
       'Mediterranean', 'British', 'Austrian', 'Israeli', 'Russian',
       'Malaysian', 'Vegetarian', 'Peruvian', 'Tapas', 'Eclectic',
       'African', 'Basque', 'Canadian', 'Irish', 'Southwestern',
       'Tea House', 'International', 'Pacific', 'German', 'Persian',
       'Ethiopian', 'Romanian', 'Cambodian', 'Tunisian', 'Filipino',
       'Dim Sum', 'Greek', 'Thai', 'Swiss', 'Cajun', 'Armenian',
       'Indigenous', 'Brewery', 'Caribbean', 'Indonesian', 'Hungarian',
       'Dutch', 'Kosher', 'Fine_Dining', 'Jamaican', 'Tibetan', 'Burmese',
       'California', 'Scandinavian', 'Chilean', 'North African',
       'Vietnamese', 'French', 'Brazilian', 'Southern'], dtype=object)

In [277]:
consumer_preferences.isna().sum().isnull().sum()

np.int64(0)

* Handlin Nan from ratings table :

In [278]:
ratings

     Consumer_ID  Restaurant_ID  Overall_Rating  Food_Rating  Service_Rating
0          U1077         135085               2            2               2
1          U1077         135038               2            2               1
2          U1077         132825               2            2               2
3          U1077         135060               1            2               2
4          U1068         135104               1            1               2
...          ...            ...             ...          ...             ...
1156       U1043         132630               1            1               1
1157       U1011         132715               1            1               0
1158       U1068         132733               1            1               0
1159       U1068         132594               1            1               1
1160       U1068         132660               0            0               0

[1161 rows x 5 columns]

In [279]:
ratings.isnull().sum()

Consumer_ID       0
Restaurant_ID     0
Overall_Rating    0
Food_Rating       0
Service_Rating    0
dtype: int64

* Handling Nan from restraunt_cusines

In [280]:
restaurant_cusines

     Restaurant_ID    Cuisine
0           132560   Regional
1           132572  Cafeteria
2           132583   American
3           132584    Mexican
4           132594    Mexican
..             ...        ...
107         135086  Fast Food
108         135088  Cafeteria
109         135104    Mexican
110         135106    Mexican
111         135109    Italian

[112 rows x 2 columns]

In [281]:
restaurant_cusines.isnull().sum()

Restaurant_ID    0
Cuisine          0
dtype: int64

In [240]:
restaurant_cusines['Cuisine'].unique()

array(['Regional', 'Cafeteria', 'American', 'Mexican', 'Fast Food',
       'Italian', 'Armenian', 'Pizzeria', 'Japanese', 'Vietnamese',
       'Family', 'International', 'Game', 'Burgers', 'Bakery', 'Bar',
       'Breakfast', 'Brewery', 'Mediterranean', 'Coffee Shop',
       'Contemporary', 'Seafood', 'Chinese'], dtype=object)

* Checking for Null values and standardizing the table in [restaurants] table :

In [282]:
restaurants

,Restaurant_ID,Name,City,State,Country,Zip_Code,Latitude,Longitude,Alcohol_Service,Smoking_Allowed,Price,Franchise,Area,Parking
0,132560,Puesto de Gorditas,Ciudad Victoria,Tamaulipas,Mexico,NaN,23.752304,-99.166913,NaN,Yes,Low,No,Open,Public
1,132561,Cafe Ambar,Ciudad Victoria,Tamaulipas,Mexico,NaN,23.726819,-99.126506,NaN,No,Low,No,Closed,NaN
2,132564,Church's,Ciudad Victoria,Tamaulipas,Mexico,NaN,23.730925,-99.145185,NaN,No,Low,No,Closed,NaN
3,132572,Cafe Chaires,San Luis Potosi,San Luis Potosi,Mexico,NaN,22.141647,-100.992712,NaN,No,Low,No,Closed,Yes
4,132583,McDonalds Centro,Cuernavaca,Morelos,Mexico,62000.0,18.922290,-99.234332,NaN,No,Low,Yes,Closed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,135088,Cafeteria Cenidet,Cuernavaca,Morelos,Mexico,NaN,18.876011,-99.219890,NaN,No,Low,No,Closed,Public
126,135104,Vips,Ciudad Victoria,Tamaulipas,Mexico,NaN,23.752982,-99.168434,Full Bar,No,Medium,Yes,Closed,Yes
127,135106,El RincÃ³n De San Francisco,San Luis Potosi,San Luis Potosi,Mexico,78000.0,22.149709,-100.976093,Wine & Beer,Bar Only,Medium,No,Open,NaN
128,135108,Potzocalli,San Luis Potosi,San Luis Potosi,Mexico,NaN,22.136253,-100.933585,NaN,No,Low,No,Closed,NaN
129,135109,Paniroles,Cuernavaca,Morelos,Mexico,NaN,18.921785,-99.235350,Wine & Beer,No,Medium,No,Closed,NaN

In [292]:
restaurants.isnull().sum()

Restaurant_ID      0
Name               0
City               0
State              0
Country            0
Latitude           0
Longitude          0
Alcohol_Service    0
Smoking_Allowed    0
Price              0
Franchise          0
Area               0
Parking            0
dtype: int64

In [243]:
restaurants['Alcohol_Service'].unique()

array([nan, 'Full Bar', 'Wine & Beer'], dtype=object)

In [284]:
restaurants['Parking'].unique()

array(['Public', nan, 'Yes', 'Valet'], dtype=object)

In [245]:
restaurants['City'].unique()

array(['Ciudad Victoria', 'San Luis Potosi', 'Cuernavaca', 'Jiutepec'],
      dtype=object)

In [246]:
restaurants['State'].unique()

array(['Tamaulipas', 'San Luis Potosi', 'Morelos'], dtype=object)

In [247]:
restaurants[restaurants['City'] == 'San Luis Potosi']

,Restaurant_ID,Name,City,State,Country,Zip_Code,Latitude,Longitude,Alcohol_Service,Smoking_Allowed,Price,Franchise,Area,Parking
3,132572,Cafe Chaires,San Luis Potosi,San Luis Potosi,Mexico,NaN,22.141647,-100.992712,NaN,No,Low,No,Closed,Yes
21,132723,Gordas De Morales,San Luis Potosi,San Luis Potosi,Mexico,NaN,22.148934,-101.019845,Full Bar,Smoking Section,Medium,No,Closed,Public
25,132754,Cabana Huasteca,San Luis Potosi,San Luis Potosi,Mexico,NaN,22.147738,-100.990616,NaN,No,Medium,No,Closed,NaN
26,132755,La Estrella De Dimas,San Luis Potosi,San Luis Potosi,Mexico,NaN,22.153324,-101.019546,NaN,No,Medium,No,Closed,Public
31,132825,Puesto De Tacos,San Luis Potosi,San Luis Potosi,Mexico,78280.0,22.147392,-100.983092,NaN,No,Low,No,Open,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,135082,La Estrella De Dimas,San Luis Potosi,San Luis Potosi,Mexico,78421.0,22.151448,-100.915099,NaN,No,Medium,No,Closed,NaN
123,135085,Tortas Locas Hipocampo,San Luis Potosi,San Luis Potosi,Mexico,78000.0,22.150802,-100.982680,NaN,No,Medium,No,Closed,Public
124,135086,McDonalds Parque Tangamanga,San Luis Potosi,San Luis Potosi,Mexico,78290.0,22.141421,-101.013955,NaN,No,Medium,Yes,Closed,Yes
127,135106,El RincÃ³n De San Francisco,San Luis Potosi,San Luis Potosi,Mexico,78000.0,22.149709,-100.976093,Wine & Beer,Bar Only,Medium,No,Open,NaN
128,135108,Potzocalli,San Luis Potosi,San Luis Potosi,Mexico,NaN,22.136253,-100.933585,NaN,No,Low,No,Closed,NaN

In [285]:
restaurants['Alcohol_Service'] = restaurants['Alcohol_Service'].fillna('no alcohol')

In [286]:
restaurants['Parking'] = restaurants['Parking'].fillna('not available')

In [291]:
restaurants = restaurants.drop('Zip_Code', axis =1)

In [251]:
restaurants['Smoking_Allowed'].unique()

array(['Yes', 'No', 'Smoking Section', 'Bar Only'], dtype=object)

In [252]:
restaurants[restaurants['Smoking_Allowed'] == 'Bar Only']

,Restaurant_ID,Name,City,State,Country,Zip_Code,Latitude,Longitude,Alcohol_Service,Smoking_Allowed,Price,Franchise,Area,Parking
65,134996,Sanborns Casa Piedra,Cuernavaca,Morelos,Mexico,NaN,18.923429,-99.216413,Wine & Beer,Bar Only,Medium,Yes,Closed,Yes
127,135106,El RincÃ³n De San Francisco,San Luis Potosi,San Luis Potosi,Mexico,78000.0,22.149709,-100.976093,Wine & Beer,Bar Only,Medium,No,Open,not available

In [253]:
restaurants['Smoking_Allowed'] = restaurants['Smoking_Allowed'].replace({
    'Smoking Section': 'Yes',
    'Bar Only': 'Yes'
})

In [254]:
restaurants['Smoking_Allowed'].unique()

array(['Yes', 'No'], dtype=object)

In [255]:
restaurants['Franchise'].unique()

array(['No', 'Yes'], dtype=object)

In [256]:
restaurants['Area'].unique()

array(['Open', 'Closed'], dtype=object)

In [257]:
restaurants['Area'] = restaurants['Area'].replace({'Closed':'Close'})

In [258]:
restaurants['Area'].unique()

array(['Open', 'Close'], dtype=object)

In [293]:
restaurants

,Restaurant_ID,Name,City,State,Country,Latitude,Longitude,Alcohol_Service,Smoking_Allowed,Price,Franchise,Area,Parking
0,132560,Puesto de Gorditas,Ciudad Victoria,Tamaulipas,Mexico,23.752304,-99.166913,no alcohol,Yes,Low,No,Open,Public
1,132561,Cafe Ambar,Ciudad Victoria,Tamaulipas,Mexico,23.726819,-99.126506,no alcohol,No,Low,No,Closed,not available
2,132564,Church's,Ciudad Victoria,Tamaulipas,Mexico,23.730925,-99.145185,no alcohol,No,Low,No,Closed,not available
3,132572,Cafe Chaires,San Luis Potosi,San Luis Potosi,Mexico,22.141647,-100.992712,no alcohol,No,Low,No,Closed,Yes
4,132583,McDonalds Centro,Cuernavaca,Morelos,Mexico,18.922290,-99.234332,no alcohol,No,Low,Yes,Closed,not available
...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,135088,Cafeteria Cenidet,Cuernavaca,Morelos,Mexico,18.876011,-99.219890,no alcohol,No,Low,No,Closed,Public
126,135104,Vips,Ciudad Victoria,Tamaulipas,Mexico,23.752982,-99.168434,Full Bar,No,Medium,Yes,Closed,Yes
127,135106,El RincÃ³n De San Francisco,San Luis Potosi,San Luis Potosi,Mexico,22.149709,-100.976093,Wine & Beer,Bar Only,Medium,No,Open,not available
128,135108,Potzocalli,San Luis Potosi,San Luis Potosi,Mexico,22.136253,-100.933585,no alcohol,No,Low,No,Closed,not available
129,135109,Paniroles,Cuernavaca,Morelos,Mexico,18.921785,-99.235350,Wine & Beer,No,Medium,No,Closed,not available

In [295]:
consumers =consumers.drop('Latitude', axis =1)

In [296]:
consumers =consumers.drop('Longitude', axis =1)

In [298]:
consumers =consumers.drop('Children', axis =1)

In [299]:
consumers

,Consumer_ID,City,State,Country,Smoker,Drink_Level,Transportation_Method,Marital_Status,Age,Occupation,Budget
0,U1001,San Luis Potosi,San Luis Potosi,Mexico,No,Abstemious,On Foot,Single,23,Student,Medium
1,U1002,San Luis Potosi,San Luis Potosi,Mexico,No,Abstemious,Public,Single,22,Student,Low
2,U1003,San Luis Potosi,San Luis Potosi,Mexico,No,Social Drinker,Public,Single,23,Student,Low
3,U1004,Cuernavaca,Morelos,Mexico,No,Abstemious,Public,Single,72,Employed,Medium
4,U1005,San Luis Potosi,San Luis Potosi,Mexico,No,Abstemious,Public,Single,20,Student,Medium
...,...,...,...,...,...,...,...,...,...,...,...
133,U1134,San Luis Potosi,San Luis Potosi,Mexico,No,Casual Drinker,Public,Single,21,Student,Medium
134,U1135,San Luis Potosi,San Luis Potosi,Mexico,No,Casual Drinker,On Foot,Single,24,Student,Low
135,U1136,San Luis Potosi,San Luis Potosi,Mexico,Yes,Social Drinker,Car,Single,22,Student,Low
136,U1137,San Luis Potosi,San Luis Potosi,Mexico,No,Social Drinker,Public,Single,23,Student,Low
137,U1138,San Luis Potosi,San Luis Potosi,Mexico,No,Social Drinker,Public,Single,21,Student,Medium

# Merging all Tables as df :

In [357]:
df = pd.merge(consumers_pref,ratings, on= 'Consumer_ID', how ='left')
df =pd.merge(df,restaurants_cuisine, on ='Restaurant_ID', how ='left')

In [358]:
df

,Consumer_ID,City_x,State_x,Country_x,Smoker,Drink_Level,Transportation_Method,Marital_Status,Age,Occupation,...,Country_y,Latitude,Longitude,Alcohol_Service,Smoking_Allowed,Price,Franchise,Area,Parking,Cuisine
0,U1001,San Luis Potosi,San Luis Potosi,Mexico,No,Abstemious,On Foot,Single,23,Student,...,Mexico,22.150849,-100.939752,no alcohol,No,Low,No,Closed,not available,NaN
1,U1001,San Luis Potosi,San Luis Potosi,Mexico,No,Abstemious,On Foot,Single,23,Student,...,Mexico,22.147392,-100.983092,no alcohol,No,Low,No,Open,not available,Mexican
2,U1001,San Luis Potosi,San Luis Potosi,Mexico,No,Abstemious,On Foot,Single,23,Student,...,Mexico,22.150802,-100.982680,no alcohol,No,Medium,No,Closed,Public,Fast Food
3,U1001,San Luis Potosi,San Luis Potosi,Mexico,No,Abstemious,On Foot,Single,23,Student,...,Mexico,22.135617,-100.969709,Wine & Beer,No,High,No,Closed,Yes,NaN
4,U1001,San Luis Potosi,San Luis Potosi,Mexico,No,Abstemious,On Foot,Single,23,Student,...,Mexico,22.145893,-100.974870,no alcohol,Smoking Section,Low,No,Closed,Yes,Seafood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4021,U1137,San Luis Potosi,San Luis Potosi,Mexico,No,Social Drinker,Public,Single,23,Student,...,Mexico,22.135011,-101.028600,no alcohol,No,Medium,No,Closed,not available,Seafood
4022,U1137,San Luis Potosi,San Luis Potosi,Mexico,No,Social Drinker,Public,Single,23,Student,...,Mexico,22.139573,-100.991564,no alcohol,No,Medium,No,Closed,Yes,Seafood
4023,U1138,San Luis Potosi,San Luis Potosi,Mexico,No,Social Drinker,Public,Single,21,Student,...,Mexico,22.150305,-100.989134,Wine & Beer,Smoking Section,Low,No,Open,not available,Bar
4024,U1138,San Luis Potosi,San Luis Potosi,Mexico,No,Social Drinker,Public,Single,21,Student,...,Mexico,22.151135,-100.982311,no alcohol,Yes,Medium,No,Closed,not available,Cafeteria
4025,U1138,San Luis Potosi,San Luis Potosi,Mexico,No,Social Drinker,Public,Single,21,Student,...,Mexico,22.153500,-100.976243,Wine & Beer,No,Medium,No,Closed,not available,Mexican

In [374]:
df.isna().sum()

Consumer_ID                0
C_City                     0
C_State                    0
C_Country                  0
Smoker                     0
Drink_Level                0
Transportation_Method      0
Marital_Status             0
Age                        0
Occupation                 0
Budget                     0
Preferred_Cuisine          0
Restaurant_ID              0
Overall_Rating             0
Food_Rating                0
Service_Rating             0
Name                       0
R_City                     0
R_State                    0
R_Country                  0
Latitude                   0
Longitude                  0
Alcohol_Service            0
Smoking_Allowed            0
Price                      0
Franchise                  0
Area                       0
Parking                    0
Cuisine                  627
dtype: int64

In [364]:
df.rename(columns ={'City_x':'C_City'}, inplace =True)

In [365]:
df.rename(columns ={'State_x':'C_State'}, inplace =True)

In [366]:
df.rename(columns ={'Country_x':'C_Country'}, inplace =True)

In [367]:
df.rename(columns ={'State_y':'R_State'}, inplace =True)

In [372]:
df.rename(columns ={'City_y':'R_City'}, inplace =True)

In [371]:
df.rename(columns ={'Country_y':'R_Country'}, inplace =True)

In [373]:
df

,Consumer_ID,C_City,C_State,C_Country,Smoker,Drink_Level,Transportation_Method,Marital_Status,Age,Occupation,...,R_Country,Latitude,Longitude,Alcohol_Service,Smoking_Allowed,Price,Franchise,Area,Parking,Cuisine
0,U1001,San Luis Potosi,San Luis Potosi,Mexico,No,Abstemious,On Foot,Single,23,Student,...,Mexico,22.150849,-100.939752,no alcohol,No,Low,No,Closed,not available,NaN
1,U1001,San Luis Potosi,San Luis Potosi,Mexico,No,Abstemious,On Foot,Single,23,Student,...,Mexico,22.147392,-100.983092,no alcohol,No,Low,No,Open,not available,Mexican
2,U1001,San Luis Potosi,San Luis Potosi,Mexico,No,Abstemious,On Foot,Single,23,Student,...,Mexico,22.150802,-100.982680,no alcohol,No,Medium,No,Closed,Public,Fast Food
3,U1001,San Luis Potosi,San Luis Potosi,Mexico,No,Abstemious,On Foot,Single,23,Student,...,Mexico,22.135617,-100.969709,Wine & Beer,No,High,No,Closed,Yes,NaN
4,U1001,San Luis Potosi,San Luis Potosi,Mexico,No,Abstemious,On Foot,Single,23,Student,...,Mexico,22.145893,-100.974870,no alcohol,Smoking Section,Low,No,Closed,Yes,Seafood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4021,U1137,San Luis Potosi,San Luis Potosi,Mexico,No,Social Drinker,Public,Single,23,Student,...,Mexico,22.135011,-101.028600,no alcohol,No,Medium,No,Closed,not available,Seafood
4022,U1137,San Luis Potosi,San Luis Potosi,Mexico,No,Social Drinker,Public,Single,23,Student,...,Mexico,22.139573,-100.991564,no alcohol,No,Medium,No,Closed,Yes,Seafood
4023,U1138,San Luis Potosi,San Luis Potosi,Mexico,No,Social Drinker,Public,Single,21,Student,...,Mexico,22.150305,-100.989134,Wine & Beer,Smoking Section,Low,No,Open,not available,Bar
4024,U1138,San Luis Potosi,San Luis Potosi,Mexico,No,Social Drinker,Public,Single,21,Student,...,Mexico,22.151135,-100.982311,no alcohol,Yes,Medium,No,Closed,not available,Cafeteria
4025,U1138,San Luis Potosi,San Luis Potosi,Mexico,No,Social Drinker,Public,Single,21,Student,...,Mexico,22.153500,-100.976243,Wine & Beer,No,Medium,No,Closed,not available,Mexican

# Exploratory Data Analysis (EDA)

What are the average ratings (overall, food, service)?

In [434]:
df.groupby('Cuisine')[['Food_Rating','Service_Rating','Overall_Rating']].mean().sort_values(by ='Overall_Rating', ascending =False)

               Food_Rating  Service_Rating  Overall_Rating
Cuisine
Mediterranean     1.750000        1.000000        1.750000
International     1.581081        1.500000        1.635135
Coffee Shop       1.333333        1.416667        1.583333
Family            1.571429        1.500000        1.571429
Armenian          2.000000        1.250000        1.250000
Breakfast         1.150000        1.200000        1.250000
Japanese          1.333333        1.181818        1.212121
Game              1.000000        1.000000        1.187500
Vietnamese        1.333333        1.166667        1.166667
Bakery            1.142857        1.142857        1.142857
American          1.096774        1.112903        1.129032
Burgers           1.237288        0.644068        1.016949
Contemporary      0.774510        0.705882        0.872549
Brewery           0.695853        0.677419        0.811060
Fast Food         0.909091        0.552727        0.781818
Seafood           0.745763        0.754237        0.771186
Bar               0.576112        0.545667        0.648712
Mexican           0.673831        0.567636        0.643489
Cafeteria         0.626238        0.571782        0.638614
Pizzeria          0.500000        0.569307        0.564356
Regional          1.000000        0.250000        0.500000
Italian           0.407643        0.458599        0.452229
Chinese           0.536585        0.493902        0.426829

In [450]:
df.groupby('Cuisine')['Preferred_Cuisine'].count().sort_values( ascending =False)

Cuisine
Mexican          791
Bar              427
Cafeteria        404
Fast Food        275
Seafood          236
Brewery          217
Contemporary     204
Pizzeria         202
Chinese          164
Italian          157
International     74
American          62
Burgers           59
Japanese          33
Breakfast         20
Game              16
Bakery            14
Family            14
Coffee Shop       12
Vietnamese         6
Armenian           4
Mediterranean      4
Regional           4
Name: Preferred_Cuisine, dtype: int64

* From above it is clear that most people like mexican cuisine.

In [436]:
df.groupby('R_City')[['Overall_Rating','Service_Rating','Food_Rating']].mean()

                 Overall_Rating  Service_Rating  Food_Rating
R_City
Ciudad Victoria        1.207865        1.140449     1.337079
Cuernavaca             1.395161        1.282258     1.387097
Jiutepec               1.250000        1.000000     1.416667
San Luis Potosi        0.709860        0.614494     0.690463

In [454]:
df.groupby('R_City')['Name'].count().sort_values(ascending =False)

R_City
San Luis Potosi    3712
Ciudad Victoria     178
Cuernavaca          124
Jiutepec             12
Name: Name, dtype: int64

* From above City San Luis Potosi has many restauranrs but has a very low rating

In [439]:
df.groupby('Alcohol_Service')['Overall_Rating'].mean().sort_values(ascending =False)

Alcohol_Service
no alcohol     0.813171
Full Bar       0.797136
Wine & Beer    0.666024
Name: Overall_Rating, dtype: float64

In [426]:
df.groupby('Smoking_Allowed')['Overall_Rating'].mean()

Smoking_Allowed
Bar Only           0.441558
No                 0.678123
Smoking Section    1.075423
Yes                1.181818
Name: Overall_Rating, dtype: float64

* Above people like places where you provie them place to smoke

In [441]:
df.groupby('Age')[''].count()

Age
18       5
19       4
20      47
21     677
22     280
23     371
24    1980
25      77
26      68
27      26
28      17
29     235
30      21
31       9
33       4
43       5
45       5
60      10
69       5
72      81
82      99
Name: Overall_Rating, dtype: int64

* Majority of prople are the ages of 20's

In [442]:
df.groupby('Price')['Overall_Rating'].mean().sort_values(ascending =False)

Price
High      0.853567
Low       0.817680
Medium    0.695952
Name: Overall_Rating, dtype: float64

In [443]:
df.groupby('Price')['Overall_Rating'].count().sort_values(ascending =False)

Price
Medium    2322
Low        905
High       799
Name: Overall_Rating, dtype: int64

In [446]:
df.groupby('Budget')['Overall_Rating'].count().sort_values(ascending =False)

Budget
Low       2406
Medium    1532
High        88
Name: Overall_Rating, dtype: int64

In [459]:
df.groupby('Parking')['Overall_Rating'].mean()

Parking
Public           0.689474
Valet            1.500000
Yes              1.089744
not available    0.632502
Name: Overall_Rating, dtype: float64

* Consumers like restaurants with valet parking.

In [477]:
df.to_csv('Rating' , index =False)

In [478]:
df.groupby('Occupation')['Overall_Rating'].mean().sort_values(ascending=False)

Occupation
Employed      1.551181
Student       0.703753
Unemployed    0.000000
Name: Overall_Rating, dtype: float64

* from above employed people giving higher rating

In [494]:
df.to_csv('Rating_analysis.csv')